{% load static %}
<html>
    <head>
        <title>
            Welcome to Index 2
        </title>
        <link rel="stylesheet" href="
    {% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
    </head>
    <body>
        <div type="container">
            <div type="row">
        <h1>Welcome to Index 2</h1>
        <form method="GET" action="">
            {% csrf_token %}
            <label for="gpu">GPU Manufacturer:</label>
            <select id="gpu" name="gpu">
                <option value="AMD">AMD</option>
                <option value="Nvidia">Nvidia</option>
            </select>
            
            <input type = "submit" value="Submit">
            </form>
        </div>
        </div>



    <script src="{% static '/website/js/module.js' %}" type="text/javascript"></script>        
    </body>
</html>