{% load static %}
<html>
    <head>
        <title>
            Build your workstation here
        </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Set system specifications here</h1>
            </div>
            <div class="row">
        <form method="GET" action="">
            {% csrf_token %}
            <label for="gpu">GPU Manufacturer:</label>
            <select id="gpu" name="gpu" onchange="gpuOptions(this.value);">
            <div>
            <label for="gpumodel">GPU Model: </label>
            <option value="" disabled selected>Select</option>
                <option value="AMD">AMD</option>
                <option value="Nvidia">Nvidia</option>
            </select>
            <select id="GPUSel" name="GPUSel">
                <option value="" disabled selected>Select</option>
            </select>
                <label for="cpumodel">CPU: </label>
                <select id="cpu" name="cpu" onchange="cpuOptions(this.value);">
                <option value="" disabled selected>Select</option>
                    <option value="AMD">AMD</option>
                    <option value="Intel">Intel</option>
                </select>
                <select id="CPUSel" name="CPUSel">
                    <option value="" disabled selected>Select</option>
                </select>
                </div>
                <div>
                <label for="RAMSelection">Memory:</label>
                <select id="RAMF" name="RAMF">
                    <label for="RAMF">RAM Frequency (DDR4 only): </label>
                    <option value="" disabled selected>Select</option>
                    <option value="4000">4000 Mhz</option>
                    <option value="3000">3000 Mhz</option>
                    <option value="2900">2900 Mhz</option>
                    <option value="2300">2300 Mhz</option>
                    <option value="2133">2133 Mhz</option>
                </select>
                <select id="RAMSize" name="RAMSize">
                    <label for="RAMSize">RAM Frequency (DDR4 only): </label>
                    <option value="" disabled selected>Select</option>
                    <option value="4">4GB</option>
                    <option value="8">8GB</option>
                    <option value="16">16GB</option>
                    <option value="32">32GB</option>
                    <option value="64">64GB</option>
                </select> × <select id="RAMx" name="RAMx">
                    <label for="RAM">RAM Frequency (DDR4 only): </label>
                    <option value="" disabled selected>Select</option>
                    <option value="1">x1</option>
                    <option value="2">x2</option>
                    <option value="4">x4</option>
                    <option value="8">x8</option>
                    <option value="16">x16</option>
                </select>
                </div>
                <div>
                <label for="StorageSel">Storage: </label>
                <select id="storage" name="storage" onchange="storageS(this.value);">
                    <option value="" disabled selected>Select</option>
                        <option value="SSD">SSD</option>
                        <option value="HDD">HDD</option>
                    </select>
                    <select id="RAMSel" name="RAMSel">
                        <option value="" disabled selected>Select</option>
                    </select>
                </div>
            

            <div align="center"><input type = "submit" value="Submit" onclick="gpuCal()"></div>
            </div>
            </div>
            </div>
            </form>
            </div>
        </div>
        </div>
    <script src="{% static 'website/js/Dataset.js' %}"></script>
    <script src="{% static 'website/js/module.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    </body>
</html>